.chat-container {
  margin-top: 39vh;
  position: absolute;
  right: 0;
  top: 0;
  width: 21%;
  height: 49vh;
  background-color: white;
  transition: all 0.5s ease;
  overflow: hidden;
  margin-right: 20px;
  border-radius: 10px;
}

.width0 {
  display: none;
}
.toast-header {
  align-items: center;
  background-clip: padding-box;
  /* background-color: gainsboro; */
  border-bottom: 1px solid black;
  /* border-top-left-radius: calc(1.2rem - var(--bs-toast-border-width));
  border-top-right-radius: calc(var(--bs-toast-border-radius) - var(--bs-toast-border-width)); */
  color: black;
  display: flex;
  padding: 14px 12px;
}
.toast-header strong {
  margin-left:4px;
}
.chat-area {
  width: 100%;
  height:33vh;
  /* max-height: 83%; */
  overflow-x: hidden;
  overflow-y: auto;
}

.message-list {
  display: flex;
  width: 100%;
  flex-direction: column;
  /* padding: 15px; */
  color: #454552;
}

.message {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  /* font-size: 16px; */
  /* margin-top: 15px; */
  margin-left: 15px;
  text-align: left;
}

.message strong {
  margin-left: 1px;
  font-weight:500
}

.message p {
  border: 1px solid rgba(78,161,211,.3);
  border-radius: 12px;
  box-shadow: 0 0 3px #4ea1d3;
  font-size: 13px;
  margin-top: 2px;
  max-width: 65%;
  padding: 8px;
  width: auto;
}

.user-message {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 100%;
  /* font-size: 16px; */
  /* margin-top: 15px; */
  text-align: right;
}

.user-message strong {
  margin-right: 10px;
  font-weight: 500;
}

.user-message p {
  background-color: #4ea1d3;
  border: 1px solid rgba(78,161,211,.3);
  border-radius: 12px;
  color: #fff;
  font-size: 14px;
  margin-right: 8px;
  margin-top: 2px;
  max-width: 65%;
  padding: 8px;
  text-align: left;
  width: auto;
}

.bottom-input {
  bottom: 0;
  width: 100%;
  height: 7vh;
  padding: 15px;
  border-top: 1px solid rgba(69, 69, 82, 0.25);
  box-sizing: border-box;
  opacity: 0.7;
}

.bottom-input:focus {
  outline: none;
}