.home-page {
                    
  top: 0px;
  left: 0px;
  max-width: 1920px;
  width: 100%;
  /* height: 1080px; */
  background: #ffffff 0% 0% no-repeat padding-box;
  opacity: 1;
  margin-inline: auto;
  }
  
.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1650px;
  margin-inline: auto;
  margin-top: 40px;
  margin-inline: 20px;
}

  .logo{
  width: 50px;
  height: 50px;
  background: transparent url('../../assests/Logo Sample.png') 0% 0% no-repeat padding-box;
  opacity: 1;
  background-size: contain;
  }
  
  .description{
      
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 16px;

  }
  
  .time-and-date {
  width: max-content;
  text-align: center;
  font: normal normal normal 14px/18px Poppins;
  letter-spacing: 0px;
  color: #000000;
  opacity: 1;
  }
  
  .setting-icon{
  
  width: 20px;
  height: 20px;
  background: transparent url('../../assests/setting.svg') 0% 0% no-repeat padding-box;
  opacity: 1;
  background-size: contain;
  }
  
  .avatar{
      
      border-radius:30px ;
      
      background: transparent  0% 0% no-repeat padding-box ;
      opacity: 1;
  }
  
  
  .person-icon{
      width: 40px;
      height: 40px;
      border-radius: 30px;
  }
    
.main-content{
  margin-top: 40px;
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: center;
  max-width: 1650px;
  flex-wrap: wrap;
  gap: 7vw;
  align-items: stretch;
  }
  .lft-content{
    display: flex;
    flex-direction: column;
  justify-self: center;
    /* justify-content: center; */
    align-items: center; 
    /* margin-top: 216px; */
    gap: 20px;
  }
  .left-content{
    gap:  20px;
    width: max-content;
    opacity: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  
  .company-logo{
      
      top: 402px;
  left: 387px;
  width: 176px;
  height: 59px;
  background: transparent url('../../assests/Logo.png') 0% 0% no-repeat padding-box;
  opacity: 1;
  }
  
  .main-text{
      margin-block: 0px;
      top: 494px;
  left: 150px;
  max-width: 90vw;
  width: max-content;
  /* width: 650px; */
  text-align: center;
  font: normal normal 600 28px/42px Poppins;
  
  letter-spacing: 0px;
  color: #272D38;
  opacity: 1;
  }
  
  .btnn{
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 18px;

  }
  .custom-btn{
      cursor: pointer;
      display: flex;
      align-items: center;
      padding-block: 12px ;
      justify-content: center;
  }

  .left-btn{
      
      top: 665px;
  left: 158px;
  width: 100%;
  background: #1565C0 0% 0% no-repeat padding-box;
  border: 1px solid #C6C6C6;
  border-radius: 17px;
  opacity: 1;
  padding-block: 12px;
  max-width: 308px;
  flex:1;
  }
  
  .left-btn-text{
      
  margin: 0px;
  line-height: 28px;
  top: 663px;
  left: 257px;
  text-align: left;
  font: normal normal 600 14px Poppins;
  letter-spacing: 0px;
  color: #FFFFFF;
  white-space: nowrap;
  opacity: 1;
  }
  
  .right-btn{
  flex: 1;
  top: 665px;
  left: 484px;
  max-width: 308px;
  width: 100%;
  background: #000000 0% 0% no-repeat padding-box;
  border-radius: 17px;
  opacity: 1;
  
  }
  
  .right-btn-text{

  top: 664px;
  left: 608px;
  text-align: left;
  font: normal normal 600 14px/72px Poppins;
  letter-spacing: 0px;
  color: #FFFFFF;
  opacity: 1;
  line-height: 28px;
  margin: 0px;
  }
  
  .signup{
      
  text-decoration: none;
  top: 732px;
  left: 372px;
  width: 207px;
  line-height: 28px;
  text-align: center;
  font: normal normal normal 20px Poppins;
  letter-spacing: 0px;
  color: #000000;
  opacity: 1;
  }
  
  .right-content{
      
  top: 155px;
  left: 960px;
  width: 100%;
  max-width: 80vw;
  height: 883px;
  background: transparent url('../../assests/Component\ 1\ –\ 1.png') 0% 0% no-repeat padding-box;
  border-radius: 42px;
  opacity: 1;
  background-size:contain ;
  }
  
  .version-text{
      
  top: 1010px;
  left: 424px;
  width: 103px;
  height: 28px;
  text-align: center;
  font: normal normal normal 20px/72px Poppins;
  letter-spacing: 0px;
  color: #000000;
  opacity: 1;
  }


  @media screen and (min-width:1920px) {
    .right-content{
      max-width: 36vw!important;
    }
  }
 
  


  @media screen and (min-width:540px) {
    .right-content{
      max-width: 400px;
    }
    .right-content{
      max-height: 400px;
    }
  }
  @media screen and (min-width:768px) {
    .main-content{
      margin-inline: 20px;   
    }    

    .main-text{
      font: normal normal 600 32px/40px Poppins;
      max-width: 70vw;
    }
    .left-btn {
      padding-block: 20px;
    }
    .left-content{
      gap: 32px;
    }
    .description{
      gap: 34px;
    }
    .left-btn-text, .right-btn-text {
      font: normal normal 600 15px Poppins;
    }
  }
  @media screen and (min-width:1080px) {
    .main-content{
      flex-wrap: nowrap;
      margin-inline:auto ;
      padding-inline: 40px;
    }
    .header{
      padding-inline: 40px;
    }
    .main-text{
      font-size: 28px;
      max-width: 30vw;
    }
    .custom-btn{
      padding: 10px
    }
    
    .right-content{
      max-height: 60vh;
    }
  }
  @media screen and (min-width:1440px) {
    .left-content{
      margin-top: -270px;
    }

    .right-content{
      max-width: 620px;
      width: 100%;
      max-height: 60vh; 
    }
 

    
    .left-btn {
      padding-block: 28px;
      padding: 20px;
    }
    .person-icon{
      width: 55px;
      height: 55px;
    }
    .time-and-date {
      font: normal normal normal 20px/72px Poppins;
    }
    .setting-icon{
      width: 30px;
      height: 30px;
    }
    .logo{
      width: 75px;
      height: 75px;
    }
    .left-btn-text, .right-btn-text {
      font: normal normal 600 20px Poppins;
    }
    .lft-content{
      margin-top: 216px;
    }
    .version-text{
      height: 46px;
    }
  }

  

  @media screen and (min-width:1536px) {
    .header{
      margin-inline: auto;
      padding-inline: 0px;
    }
    .main-content{
      margin-inline: auto;
      justify-content: space-between;
      padding-inline: 0px;
    }
    .main-text {
      font: normal normal 600 48px/72px Poppins;
      max-width: 650px;
    }
    .right-content{
      max-width: 812px;
    }
  }


  @media screen and (min-width:1680px) {
      .right-content{
          /* position: relative; */
          /* margin-left: -20px; */
          max-width: 65vh;
      }
      

  }

  @media screen and (min-width:1920px) {
    .left-content{
      margin-top: -160px;
    }
    .right-content{
      margin:auto;
    }
    .description{
      margin-right: 75px;
    }
  }

  @media screen and (min-width:1620px) {
      .left-content{
        margin-top: -160px;
      }
      .right-content{
        margin:auto;
      }
      .description{
        margin-right: 75px;
      }
    }