/* Mobile Devices:

Small screens (portrait orientation): 320px - 480px
Small screens (landscape orientation): 481px - 767px
Medium screens: 768px - 991px
Large screens: 992px - 1199px
Tablets:

Portrait orientation: 768px - 991px
Landscape orientation: 992px - 1199px
Desktops:

Standard desktop screens: 1200px and above */
@media (min-width: 2560px) {
  .videoContainer{
    height:95vh;
    margin-top:2vh
  }
  .one-video{
    padding-bottom: 3vh; 
  }
  .videocontainer{
    height: 93vh;
    margin-top:1vh
  }
}
@media (max-width: 1024px) {
  .one-video{
    padding-bottom: 9vh; 
  }
  .videocontainer{
    height: 95vh;
    margin-top:1vh
  }
}
@media (max-width: 320px) {
  .videoContainer {
    margin-top: 18px;
    height: 450px;
  }
  .one-video {
    padding-top: 15px;
    height: 480px;
  }
}

/* Styles for medium screens (768px to 991px) */
@media (min-width: 768px) and (max-width: 991px) {
}

/* Styles for large screens (992px and above) */
@media (min-width: 992px) {
}
