/* Mobile Devices:

Small screens (portrait orientation): 320px - 480px
Small screens (landscape orientation): 481px - 767px
Medium screens: 768px - 991px
Large screens: 992px - 1199px
Tablets:

Portrait orientation: 768px - 991px
Landscape orientation: 992px - 1199px
Desktops:

Standard desktop screens: 1200px and above */


@media (min-width:1900px) and (max-width:2549px){
  .videocontainer{
    height: 90vh!important;
    margin-top: 2vh!important;
  }
  .chat-area{
    height:36vh
  }
  .width-peer1{
    height: 0vh 1vh;
  }
  .width-peer4, .width-peer5 {
    height: 40vh;
    margin: 1vh;
    width: 30vw;
}
  .width-peer2, .width-peer3{
    height: 43vh;
    width: 40vw;
  }
}
@media only screen and (min-width: 1610px) and (max-width: 1800px){
  .videoContainer {
    height:91vh;
  }
  .one-video{
    margin-top:3vh;
  }
  .width-peer2, .width-peer3{
    height:41vh;
    width: 60vh;
  }
  .width-peer4, .width-peer5{
    height: 40vh;
    width: 52vh;
  }
}

@media only screen and (min-width: 1370px) and (max-width: 1605px){
  .videocontainer{
    height: 88vh;
    /* width: 3vh; */
    margin-top: 3vh;
  }
  .width-peer2,.width-peer3{
    height: 40vh;
    width: 60vh;
    margin: 1%;
  }
  .width-peer4, .width-peer5 {
    height: 40vh;
    margin: 1%;
    width: 50vh;
}
}
@media only screen and (min-width: 1030px) and (max-width: 1365px){

}


@media only screen and (min-width: 768px) and (max-width: 1024px){

}
@media only screen and (min-width: 320px) and (max-width: 480px){
  .width-peer1 {
    padding: 1vh 3vh;
    width: 100%;
  }
  .width-peer2 {
    height: 27vh;
    margin: 1%;
    width: 100%;
}
.width-peer3 {
  height: 19vh;
  margin: 1%;
  width: 40vh;
}
.width-peer4 {
  height: 27vh;
  margin: 1%;
  width: 22vh;
}
}

@media screen and (min-width: 1366px) {
  .videocontainer{
    height: 89vh;
    margin-top: 6vh;
  }
}

@media screen and (min-width: 1680px) {
  .video-display-box{
    height: 86vh;
  }
  .one-video{
    margin-top: 1vh;
    padding-bottom: 0;
  }
  
}
