.videoContainer {
  /* background-color: black; */ 
  max-width: 100%;
  /* height: 92%; */
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  /* padding: 0 50px; */
  /* align-items: center; */
  /* padding: 15px 0px; */
  /* padding-top: 55px; */
  /* padding-top: 8vh; */
  box-sizing: border-box;
  gap: 8px;
}
.videocontainer {
  position: relative;
  margin-top: 30px;
  flex-wrap: wrap;
  /* background-color: black; */ 
  max-width: 100%;
  /* max-height: 100%; */
  justify-content: center;
  /* overflow: hidden; */
  /* height: 92%; */
  /* padding: 0 50px; */
  flex-direction: row;
  /* flex-wrap: wrap; */
  display: flex;
  /* display: grid;
  grid-template-columns: repeat(2, 1fr); 
  grid-gap: 10px;  */
  /* grid-auto-rows: 500px; */
  /* justify-content: space-around;
  justify-items: center; */
  /* flex-wrap: wrap; */
  /* align-items: center; */ 
  /* padding: 15px 0px; */
  /* padding-top: 55px; */
  /* padding-top: 8vh; */
  /* box-sizing: border-box; */
  /* gap: 12px; */
}
.width-peer1{
  /* padding: 70px; */
  /* margin-top: 50px; */
  padding: 20px 10px;
  width: 50%;
  /* display: flex; */
  /* justify-content: center; */
  /* background-color: red; */
}
.width-peer2{
  /* padding: 70px; */
  /* margin-top: 50px; */
  /* padding: 60px 10px; */
  /* display: flex; */
  /* justify-content: center; */
  height: 247px;
  margin:1%;
  width:500px;
  /* background-color: red; */
}
.width-peer3{
  /* padding: 70px; */
  /* margin-top: 50px; */
  /* padding: 60px 10px; */
  /* display: flex; */
  /* justify-content: center; */
  height: 247px;
  margin:1%;
  width:500px;
  /* background-color: red; */
}

.video-display-box {
  height: 644px;
  padding-bottom: 65px;
  padding-top: 30px;
}


/* .video-card{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
} */
.video-box {
  /* height:89vh; */
  /* background-color: blue; */
  position: relative;
  overflow: hidden;
  /* display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row; */
  justify-content: center;
  /* align-items: center; */
}


.video-box > video {
  top: 0;
  left: 0; 
  width: 100%;
  height: 100%;
  border-radius: 22px;
  object-fit: fill;
   /* background-color: rgb(158, 19, 42); */
  /* top: 0; */
  /* height: 350px; */
  /* width:350px; */
  /* z-index: 1; */
  /* margin-top: 350px; */
  /* left: 0; */
  /* width: 80%;
    height: 100%; */
}

/* .video-box:hover > i {
  display: block;
} */

.one-video {
  height: 90vh;
  display: flex;
  width: 100vw;
  justify-content: center;
}

.UserName {
  position: absolute;
  font-size: calc(20px + 5vmin);
  z-index: 1;
}

.modal-header {
  border-bottom: none;
}
.modal-content {
  border-radius: 0%;
}
.modal-footer {
  border-top: none;
  justify-content: center;
}
.error {
  color: red;
}

/* .MyVideo{
  height: 250px;
  width:250px
} */
/* video{
  height: 380px;
    width: 380px;
} */

/* Grid */
.card-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 2px 20px;
  background-color: rgb(240, 240, 240);
}

.card-row {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 20px;
}

.card {
  height: 200px;
  background-color: #fff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  border-radius: 14px;
  /* padding: 20px; */
  width: calc((100% / 2) - 10px);
  max-width: calc((100% / 2) - 10px);
  box-sizing: border-box;
  margin-right: 20px;
  /* margin-bottom: 20px; */
}

.personIcon {
  height: 200px;
  border-radius: 14px;
  /* width: calc((100% / 2) - 10px); */
  /* max-width: calc((100% / 2) - 10px); */
  box-sizing: border-box;
  /* margin-right: 20px; */
}

@media screen and (min-width: 320px) {
  .card-grid {
    padding-top: 50px;
  }

  .card {
    height: 120px;

    width: calc((100% / 2) - 10px);
    max-width: calc((100% / 2) - 10px);
  }
  .personIcon {
    height: 120px;
  }

  .card-row {
    margin-right: -20px;
  }

  .card:last-child {
    margin-right: 0;
  }
}

@media screen and (min-width: 425px) {
  .card-grid {
    padding-top: 50px;
  }
  .card {
    height: 125px;

    width: calc((100% / 2) - 10px);
    max-width: calc((100% / 2) - 10px);
  }
  .personIcon {
    height: 125px;
  }

  .card-row {
    margin-right: -20px;
  }

  .card:last-child {
    margin-right: 0;
  }
}

@media screen and (min-width: 768px) {
  .card-grid {
    padding-top: 50px;
  }

  .card {
    height: 185px;

    width: calc((100% / 2) - 10px);
    max-width: calc((100% / 2) - 10px);
  }
  .personIcon {
    height: 185px;
  }

  .card-row {
    margin-right: -20px;
  }

  .card:last-child {
    margin-right: 0;
  }
}

@media screen and (min-width: 1024px) {
  .card-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 60px;
    padding-left: 40px;
    background-color: rgb(240, 240, 240);
  }
  .card {
    height: 300px;
    width: calc((100% / 4) - 10px);
    max-width: calc((100% / 4) - 10px);
  }
  .personIcon {
    height: 300px;
  }

  .card-row {
    margin-right: -20px;
  }

  .card:last-child {
    margin-right: 0;
  }
}
