.logo-header {
  /* overflow: hidden; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  position:fixed;
  top:0;
  left:0;
  right: 0;
  z-index: 999;
  /* padding: 5px 70px; */
  padding: 2px 70px;
  background-color: rgb(240, 240, 240);

  /* box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); */
}

.logo-header img {
  /* max-width: 100%; */
  height: 50px;
  /* height: auto; */
}

.header-text {
  text-align: right;
  margin-left: 20px;
}

.analyties-text {
  font-size: 20px;
  /* font-weight: bold; */
  color: #333;
}

@media (max-width: 768px) {
  .logo-header {
    flex-direction: row;
    padding: 5px 10px;
    /* align-items: flex-start; */
  }

  .logo-header img {
    /* max-width: 100%; */
    height: 40px;
    /* height: auto; */
  }

  .header-text {
    text-align: right;
    margin-left: 0;
    /* margin-top: 20px; */
  }
  .analyties-text {
    font-size: 15px;
  }
}

@media (max-width: 320px) {
  .logo-header {
    flex-direction: row;
    /* padding: 5px 10px; */
    /* align-items: flex-start; */
  }

  .logo-header img {
    /* max-width: 100%; */
    height: 40px;
    /* height: auto; */
  }

  .header-text {
    text-align: right;
    margin-left: 0;
    /* margin-top: 20px; */
  }
  .analyties-text {
    font-size: 15px;
  }
}
